<tr class="active" data-hook="order_details_line_items_headers">
      <th colspan="1"><%= Spree.t(:item) %></th>
      <th class="price"><%= Spree.t(:price) %></th>
      <th class="qty"><%= Spree.t(:qty) %></th>
      <th class="total"><span><%= Spree.t(:total) %></span></th>
</tr>
